.grid-card {
  display: grid;
  grid-template-columns: 39.2% 60%;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background: #ededed;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  background: #fff;
}

.grid-item-third-column {
  grid-column: 3; /* Especifica la tercera columna */
  grid-row: span 2; /* Ocupa dos filas */
}

.grid-card-in div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 50%;  
}

.grid-card-in div p {
  font-size: 1.3rem;

}

.grid-card-in div:last-child p{
  font-size: 2rem;
}

.grid-card-in div > svg{
  width: 50px;
  height: 50px;
  margin: auto;
  opacity: 0.5;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-green {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-red {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-red p:first-child{
  margin-right: 11px;
}

.card-blue {
  background-color: #2196F3;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-yellow {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.card-gray {
  background-color: #607d8b;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.card-gray div{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-gray div p{
  font-size: 2rem;
}

.card-gray div > svg {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  opacity: 0.5;

}

.button-card {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
  box-shadow:  2px 3px 5px #888888;
  text-align: center;
}

.button-card:hover {
  background-color: var(--color-primary-dark);
}