.grid-card {
  display: grid;
  grid-template-columns: 33% auto;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background: #ededed;
  height: 400px;
}

.grid-card > div:first-child div {
  height: 100%;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  font-weight: 700;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
}

.grid-item-third-column {
  grid-column: 3;
  grid-row: span 2; 
}

.grid-card-in div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 50%;  
}

.grid-card-in div p {
  font-size: 1.5rem;
}

.grid-card-in div:last-child p{
  font-size: 2.8rem;
}

.grid-card-in div > svg{
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: auto;
  opacity: 0.5;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-green {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-red {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-red p:first-child{
  margin-right: 11px;
}

.card-blue {
  background-color: #2196F3;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-yellow {
  background-color: rgb(233, 169, 8);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.card-gray {
  background-color: rgb(142, 141, 141);
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-gray div:first-child{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-gray div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-gray div p:first-child{
  font-size: 3rem;
  margin-bottom: 10px;
}

.card-gray div p:last-child{
  font-size: 2.7rem;
}

.card-gray div > svg {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  opacity: 0.5;
}

.button-card {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
}

.button-card:hover {
  background-color: var(--color-primary-dark);
  scale: 1.014;
}