.grid-card {
  padding: 20px;
  border-radius: 10px;
  background: #ededed;
}

.grid-card > div:first-child div {
  height: 100%;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-weight: 700;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
}


.grid-card-in div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 50%;  
}

.grid-card-in div p {
  font-size: 1.2rem;
}

.grid-card-in div:last-child p{
  font-size: 2rem;
}

.grid-card-in div > svg{
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: auto;
  opacity: 0.5;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.total-doughnut {
  position: relative;
}

.total-doughnut div:last-child {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  height: 0;
}

.total-doughnut div:last-child p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.total-doughnut div:last-child p:last-child {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-green {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-red {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 10px;
}


.card-blue {
  background-color: #2196F3;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-yellow {
  background-color: rgb(233, 169, 8);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.card-gray {
  background-color: rgb(142, 141, 141);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.button-card {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
}

.button-card:hover {
  background-color: var(--color-primary-dark);
  scale: 1.014;
}



@media screen and (max-width: 1024px){
  .grid-card-in div p {
    font-size: 1rem;
  }
  
  .grid-card-in div:last-child p{
    font-size: 1.5rem;
  }
  
  .grid-card-in div > svg{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: auto;
    opacity: 0.5;
  }
}


@media screen and (min-width: 1440px){
  
  .grid-card {
    height: 450px;
  }

  .grid-card-in div p {
    font-size: 1.5rem;
  }

  .grid-card-in div:last-child p{
    font-size: 2.8rem;
  }

  .grid-card-in div > svg{
    width: 50px;
    height: 50px;
  }

  .total-doughnut div:last-child {
    top: 97%;
  }

  .total-doughnut div:last-child p:first-child {
    font-size: 2rem;
  }

  .total-doughnut div:last-child p:last-child {
    font-size: 1.8rem;
  }
}


 @media screen and (max-width: 500px) {
  .total-doughnut {
    height: 300px;
    margin-bottom: 10px;
  }
 }

 @media (min-width: 500px) and (max-width: 850px){
  .info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 }

 @media screen and (min-width: 850px) {
  .grid-card{
    display: grid;
    grid-template-columns: 33% auto;
    height: auto;
  }

  .info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .total-doughnut div:first-child {
    position: absolute;
    z-index: 100;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item-third-column {
    grid-column: 3;
    grid-row: span 2; 
  }
}