.form-login {
  width: 75%;
}

.form-login h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-input label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.form-input input {
  padding: 0.5rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form-input input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.switch{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.switch div{
  color: #aaa9a9;
}

.ant-switch-checked {
  background-color: var(--color-primary) !important;
}

.submit-button{
  display: flex;
  justify-content: center;
}

.button-login {
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.025rem;
  transition: all 0.3s;
  box-shadow:  2px 3px 5px #888888;
  width: 30%;
}

.button-login:hover {
  background-color: var(--color-primary-dark);
}