.card-firmante {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.card-firmante div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-firmante div p:nth-child(2) {
  font-weight: 700;
}

.card-firmante svg {
  color: var(--color-primary);
}