.card-accion {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-accion > div:last-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-accion div:last-child p {
  font-weight: 700;
}