:root {
  --color-primary: rgb(230, 96, 21);
  --color-primary-dark: #d66829;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}