.charts-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
  background: #ededed;
  border-radius: 10px;
  padding: 20px;
}

.charts-section h2{
  margin-bottom: 10px;
}

.charts-section div div{
  max-width: 100%;
  height: 90%;
}

.charts-section div div canvas{
  max-width: 100%;
  height: 100%;
}

.header-control-panel h1{
  margin: 15px 0;
  text-align: center;
}

.header-control-panel {
  margin-bottom: 20px;
}

.header-control-panel div div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-control-panel div div:last-child {
  display: grid;
  grid-template-columns: 44.5% 1fr;
  gap: 10px;
}

.header-control-panel div div:last-child div{
  margin-bottom: 0;
}

.input-control{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.control-panel-info h2{
  margin-bottom: 10px;
}

.button-search{
  padding: 0.5rem .8rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s;
}

.button-search:hover {
  background-color: rgba(255, 94, 0, 0.8);
  scale: 1.03;
}

.div-date {
  display: flex;
  align-items: center;
}

.div-company {
  display: flex;
  align-items: center;
}

/* Media Queries */

@media screen and (min-width: 500px) {
  .header-control-panel div div {
    gap: 5px;
  }


  .header-control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .header-control-panel div{
    display: grid;
    grid-template-columns: 51% auto;
    gap: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .header-control-panel {
    flex-direction: row;
  }

  .header-control-panel div div {
    gap: 10px;
  }
  
  .header-control-panel div div:last-child {
    gap: 10px;
  }

  .header-control-panel div {
    gap: 10px;
  }
}

@media screen and (min-width: 1300px) {
  .charts-section{
    height: 500px;
  }
  .charts-section div div{
    height: 84%;
  }
  .charts-section h2{
    height: 12%;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  .header-control-panel div {
    display: inline;
  }

  .header-control-panel div div {
    margin-bottom: 10px;
  }
}
 
@media screen and (max-width: 500px){

  .div-date svg {
    display: none;
  }

  .div-company svg {
    display: none;
  }

  .header-control-panel div div {
    margin-bottom: 10px;
  }

  .header-control-panel div div:last-child {
    grid-template-columns: 1fr;
  }
}

@media  screen and (max-width: 940px){
  .charts-section{
   grid-template-columns: 1fr;
  }

  .header-control-panel div div:last-child {
    gap: 16px;
  }

  .header-control-panel div div {
    justify-content: center;
    align-items: center;
  }

  .charts-section div{
    height: 300px;
    margin-bottom: 20px;
  }

  .charts-section canvas {
    height: 100%;
  }

  .charts-section h2{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 900px) {
  .charts-section div div{
    height: 70%;
  }
 }

@media screen and (max-width: 1300px) {
 .charts-section div div{
   height: 78%;
 }
 .charts-section h2{
   height: 20%;
   font-size: 1.3rem;
 }
}