.charts-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
  background: #ededed;
  border-radius: 10px;
  padding: 20px;
}

.charts-section h2{
  margin-bottom: 10px;
}

.header-control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-control-panel div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-control{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.control-panel-info h2{
  margin-bottom: 10px;
}

