.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-title{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-title img {
  width: 65px;
  height: 40px;
}

.drop {
  border-left: 2px solid #000;
  padding: 0 0 0 1rem;
}

.drop-icon {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
 .nav-title p{
  display: none;
 }
}