header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

main {
  display: flex;
  margin-top: 72px;
  max-width: 100vw;
}

.main-content {
  padding: 25px 25px 25px 225px;
  width: 100% ;
  transition: all 0.4s ease;
}

.main-content > * {
  max-width: 100%;
}

.main-content2 {
  padding: 25px 25px 25px 105px;
  width: 100%;
  transition: all 0.4s ease;
}

.main-content2 > * {
  max-width: 100%;
}

.ant-menu {
  transition: all 0.4s ease !important;
}

@media screen and (max-width: 540px) {
  .main-content {
    padding: 15px;
    flex-direction: column;
  }
  .main-content2 {
    padding: 15px;
  }

  aside{
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .main-content {
    padding: 25px 25px 25px 275px;
  }
  .main-content2 {
    padding: 25px 25px 25px 105px;
  }
  
}